@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/* Navbar start */
nav {
    background-color: black;
    min-height: 70px;
    width: 930px;
    margin: 0 auto;
    padding: .9em;
}
nav h1 {
    color: whitesmoke;
    font-size: 40px;
}
/* Navbar end */
/* Feed text start */
h2 {
    font-size: 40px;
    text-align: center;
    margin: 10px;
}
/* Feed text end */

.container {
    min-height: 550px;
    width: 930px;
    margin: 0 auto;
    gap: 2em;
}
a {
    color: rgb(46, 142, 197);
}

.flexed {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Aside start */
aside {
    flex: 3;
    min-height: 300px;
    align-self: flex-start;
}
.profile {
    background-color: white;
    border: 3px solid rgb(63, 63, 63);
    min-height: 320px;
    padding: 1.5em;
    text-align: center;
    
}
.profile img {
    min-height: 100px;
    width: 100px;
    margin-bottom: 3em;
}
.profile a {
    font-size: 20px;
}
h3 {
    font-size: 30px;
}
/* Aside end */
/* Main start */
main {
    flex: 7;
    min-height: 550px;
}

.userbox {
    flex: 7;
    background-color: whitesmoke;
    border: 3px solid rgb(63, 63, 63);
    min-height: 170px;
    margin-bottom: 20px;
    padding: 1.5em;
}
h4 {
    font-size: 30px;
}
#likes {
    font-size: 20px;
    margin-top: .8em;
}
p {
    font-size: 20px;
    margin-top: .8em;
}
button {
    background-color: rgb(255, 214, 29);
    color: rgb(63, 63, 63);
    border: 3px solid rgb(63, 63, 63);
    font-size: 20px;
    padding: .3em 1em;
}
/* Main end */